@import "tailwindcss";

@theme inline {
  /* Couleurs */
  --color-brand-bg: #272149;
  --color-brand-badge: #BFB9DF;
  --color-brand-title: #A199D2;
  --color-brand-body: #877EBC;
  --color-brand-link: #E1C3FF;

  /* Font sizes */
  --font-size-brand-xs: 12px;
  --font-size-brand-m: 24px;
  --font-size-brand-xxl: 48px;
  --font-size-brand-body: 24px;

  /* Line heights */
  --line-height-brand-xs: 16px;
  --line-height-brand-body: 32px;

  /* Letter spacing */
  --letter-spacing-brand-body: 0.02em;

  /* Fonts existantes */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-display: var(--font-inter);
  --font-heading: var(--font-inter);
}

body {
  background-color: var(--color-brand-bg);
  font-family: Arial, Helvetica, sans-serif;
}